extends layout

block content
    h1= title
    p Welcome to #{title}
    p 予定調整くんへようこそ！<br>
        if user 
            a(href="logout") #{user}からログアウト 
        else
            a(href="login") ログイン 
