extends layout

block content
    h1= title
    p #{title}へようこそ！<br>
    if user 
        a.btn(href="schedules") 予定一覧へ
        <br>
        a.btn(href="logout") #{user}からログアウト 
    else
        a(href="login") ログイン 
