body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

hr {
    width: 500px;
    margin: 40px 0px;
    border: solid 0.5px #00B7FF;
}

input {
    margin: 10px;
    padding: 12px 15px;
}

label {
    display: inline-block;
    width: 100px;
    height: 30px;
    margin-left: 20px;
}

button[type="submit"], a#logout {
    display: inline-block;
    width: 200px;
    height: 40px;
    color: white;
    background-color: #00B7FF;
    border-radius: 5px;
}

button[type="submit"] {
    margin-left: 20px;
    border: none;
}

a#logout{
    text-align: center;
    box-sizing: border-box;
    padding: 9px;
    text-decoration: none;
    margin-top: 40px;
}